<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.mytzilleri">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/my_mensa_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTzilleri">
        <activity android:name=".ActivityMain"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".product.PaginaProdotto"/>
        <activity android:name=".login.ActivityLogin"/>
        <activity android:name=".fragment.FragmentManager"/>
        <activity android:name=".login.RegistrazioneActivity"/>
    </application>
</manifest>